<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29839209813-lha2bm8pqmo53fs09jj0gtct8c5jrbru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29839209813-lha2bm8pqmo53fs09jj0gtct8c5jrbru</string>
	<key>API_KEY</key>
	<string>AIzaSyDKgscj4FChM7qcdE0eSX3YMNz9CYH_aDk</string>
	<key>GCM_SENDER_ID</key>
	<string>29839209813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apexflow</string>
	<key>PROJECT_ID</key>
	<string>apex-flow-7baea</string>
	<key>STORAGE_BUCKET</key>
	<string>apex-flow-7baea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:29839209813:ios:10670feb478f51b2796bdc</string>
</dict>
</plist>
